*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

b{
  font-weight: bold;
}

body{

  font-family: 'Poppins';
  background-color: #fed43a;
  font-weight: 500;
  line-height: 20px;
}

.text-left{
  font-size: 14px;
  text-align: left;
}