*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

b{
  font-weight: bold;
}

body{
  scrollbar-width: none;
  -ms-overflow-style: none; 
  font-family: 'Poppins';
  background-color: #fed43a;
  font-weight: 500;
  line-height: 20px;
}

.text-left{
  font-size: 14px;
  text-align: left;
}

body::-webkit-scrollbar {
  display: none;
}